<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragmentos/fragmentosAdminV3 :: layout (~{:: main},~{:: title},~{:: script})}">
<head >
<title>Home</title>
</head>
<body>
<main>

 <p>Olá, essa é a versão Beta do nosso sistema!</p>
 <p>Ainda não estamos na versão final, mas você já pode acessar algumas funcionalidades do nosso sistema.</p>
 <p>Se encontrar algum comportamento estranho no sistema, nos avise imediatamente.</p>
 <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfT3ThaPjipfGkDm-uA9yS_uFL9UoKj5t6tvVQaeO4WO5RLMg/viewform?usp=sf_link">Relatar um bug</a>



</main>

<script th:src="@{/js/cidades.js}"></script>
 <script th:src="@{/js/jquery.mask.min.js}"></script>
<script th:src="@{/js/mascaras.js}"></script> 




</body>
</html>