<!DOCTYPE html>
<html lang="pt-br" th:replace="~{fragmentos/fragmentosV3 :: layout (~{:: main},~{:: title},_)}"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sobre</title>

</head>
<body>
<main>
    <div class="row justify-content-center ">
        <div class="col-xs ">
            <div class="card" style="width: 300px;">
                <img alt="Card image cap" class="card-img-top mt-2" height="100" th:src="@{/img/LogoNees.svg}"
                     width="100">
                <div class="card-body">
                    <h5 class="card-title text-center">NEES</h5>
                    <p class="card-text  text-justify">Núcleo de Estudos em Engenharia de Software desenvolve projetos em várias áreas
                        do conhecimento</p>
                </div>
            </div>

        </div>
    </div>
</main>
</body>
</html>